

#logo {
    color: white;
    font-family: 'Roboto Slab', serif;
    padding-top: 10px;
    text-shadow: 1px 1px 3px black;
    background-image: url(../img/pattern.png);
    background-color: #4d79ff;
    background-size: 300px, 275px;
    background-repeat: repeat;
    height: auto;
}

img {
    padding-bottom: 0;
}

ul {
    padding-left: 10px;
}

.grey {
    color: grey;
}

#logo-bool{
    color: #33cccc;
}

#date {
    font-size: small;
}

.photo1 {
    font-size: x-small;
}

.evidenziatore {
    background-color: yellow;
}
